$cardBackground: #1f1f1f;
$dayCardBackground: #272727;
$dayCardBorder: #343434;
$rainColor: #68A9F2;
$cloudColor: #C9D1EF;
$thunderColor: #FCD058;
$drizzleColor: #5C6B9C;
$clearColor: #F5995B;
$white:#fff;
$bodyBackground: #F4F6F7;